name: External Trigger Main

on:
  #schedule:
  #  - cron:  '*/5 * * * *'
  workflow_dispatch:

jobs:
  external-trigger-master:
    runs-on: ubuntu-latest
    steps:
      - name: External Trigger
        run: |
          echo "external trigger running"
