name: Package Trigger

on:
  #schedule:
  #  - cron:  '*/5 * * * *'
  workflow_dispatch:

jobs:
  package-trigger:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.3
        with:
          fetch-depth: '0'
        
      - name: Package Trigger
        run: |
          git for-each-ref --format='%(refname:short)' refs/remotes
          for br in $(git for-each-ref --format='%(refname:short)' refs/remotes)
          do
            br=$(echo "$br" | sed 's|origin/||g')
            echo "evaluating branch ${br}"
            ls_branch=$(curl -sX GET https://raw.githubusercontent.com/linuxserver/docker-sonarr/${br}/jenkins-vars.yml | yq r - ls_branch)
            if [ "$br" == "$ls_branch" ]; then
              echo "it's a match, triggering"
            else
              echo "no match, skipping"
            fi
          done
