name: Package Trigger

on:
  schedule:
    - cron:  '*/5 * * * *'
  workflow_dispatch:

jobs:
  package-trigger:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.3
        with:
          fetch-depth: '0'
        
      - name: Package Trigger
        run: |
          git for-each-ref --format='%(refname:short)' refs/heads
          for br in $(git for-each-ref --format='%(refname:short)' refs/heads)
          do
            echo "evaluating branch ${br}"
            if [ "$br" == "master" ]; then
              echo "it's a match, triggering"
            else
              echo "no match, skipping"
            fi
          done
